<div class="container-fluid">

  <div class="row">
    <div class="col-md-6 flex-wrap align-items-center ">
      <figure style="text-align: center;">
        <img class="rounded-circle shadow-lg p-1 mb-5 bg-white rounded img" src="../../../assets/images/Perfil.png"
          style="height: 300px; width: 300px;" />
        <figcaption style="text-align: center;">
          <h2>Desenvolvedor Web</h2>
        </figcaption>
      </figure>
    </div>
    <div class="col-md-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
      <h1 style="color: #849042;" class="d-flex justify-content-end">Perfil
      </h1>

      <hr>
      <h3 class="font-weight-bold text-right">Olá, é um prazer estar aqui com você! Fico muito feliz em poder ajudar no
        que for
        necessário.
        Seja qual for o seu objetivo, estou aqui para ajudar! Conte comigo sempre que precisar.</h3>
      <h1 class="d-flex justify-content-end" style="color: #849042;">Contato
      </h1>
      <hr>

      <div class="d-flex row flex-row-reverse">
        <div class="col-2 d-flex justify-content-end">
          <i class="bi bi-whatsapp" style="font-size: 30px; color: #849042;"></i>
        </div>
        <div class="col-8 d-flex justify-content-end align-items-end">
          <h5 class="titulo">{{'31998866134'| telefone}}</h5>
        </div>
      </div>

      <div class="d-flex row flex-row-reverse">
        <div class="col-2 d-flex justify-content-end">
          <i class="bi bi-house-fill" style="font-size: 30px; color: #849042;"></i>
        </div>
        <div class="col-8 d-flex justify-content-end align-items-end">
          <h5 class="titulo">MG - Contagem</h5>
        </div>
      </div>


      <div class="d-flex row flex-row-reverse">
        <div class="col-2 d-flex justify-content-end">
          <i class="bi bi-envelope-at" style="font-size: 30px; color: #849042;"></i>
        </div>
        <div class="col-8 d-flex justify-content-end align-items-end">
          <h5 class="titulo">otavionunesvaladao@gmail.com</h5>
        </div>
      </div>

      <div class="d-flex row flex-row-reverse">
        <div class="col-2 d-flex justify-content-end">
          <i class="bi bi-globe" style="font-size: 30px; color: #849042;"></i>
        </div>
        <div class="col-8 d-flex justify-content-end align-items-end">
          <h5 class="titulo">www.otaviovaladao.com.br</h5>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <titulo [titulo]="'Formações'"></titulo>
    <div class="col-12 d-flex align-items-center justify-content-center mt-3">
      <h4>2020 - Dias atuais</h4>
    </div>
    <div class="col-12 d-flex align-items-center justify-content-center mt-1 titulo">
      <p>Bacharel em Ciências da Computação / Estácio de Sá</p>
    </div>
    <hr>
    <div class="col-12 d-flex align-items-center justify-content-center mt-1">
      <h4>2022</h4>
    </div>
    <div class="col-12 d-flex align-items-center justify-content-center mt-1 titulo">
      <p>FIC - Desenvolvedor de aplicativos para mídias digitais</p>
    </div>
  </div>

  <div class="row ">
    <div class="col-12 mb-3">
      <titulo [titulo]="'Habilidades pessoais'"></titulo>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-12 d-flex justify-content-around mb-3">
      <modal-button [texto]="textoCriativo" [titulo]="tituloCriativo" [habilidade]="habilidadeCriativo"></modal-button>
      <modal-button [texto]="textoCritico" [titulo]="tituloCritico" [habilidade]="habilidadeCritico"></modal-button>
    </div>
    <div class="col-sm-12 d-flex justify-content-around mb-3">
      <modal-button [texto]="textoEmpatia" [titulo]="tituloEmpatia" [habilidade]="habilidadeEmpatia"></modal-button>
    </div>
  </div>

  <div class="row">
    <titulo [titulo]="'Habilidades pessoais'"></titulo>
  </div>
  <div class="row">
    <time-line [ano1]="ano1" [empresa1]="empresa1" [cargo1]="cargo1" [ano2]="ano2" [empresa2]="empresa2"
      [cargo2]="cargo2" [ano3]="ano3" [empresa3]="empresa3" [cargo3]="cargo3"></time-line>
  </div>
</div>
