
@media (max-width:767px) {
  .img {
      max-width: 200px;
      max-height: 200px;
  }
  .stacks img{
    max-height: 50px;
    max-width: 70px;
  }
}
.stacks img{
  height: 55px;
  width: 75px;
}
