<div class="contai">
  <div class="d-flex justify-content-around flex-wrap">
    <a class="navbar-brand">
      <img src="../../../assets/images/Logo.png" width="40" height="40" class="d-inline-block align-center">
      Otávio Valadão
    </a>
    <a href="https://www.linkedin.com/in/otaviovaladao/">
      <custom-icons [font]="'35px'" [color]="'blue'" [bootstrapIcon]="'bi bi-linkedin'"></custom-icons>
    </a>
    <a href="https://api.whatsapp.com/send?phone=5531998866134">
      <custom-icons [font]="'35px'" [color]="'green'" [bootstrapIcon]="'bi bi-whatsapp'"></custom-icons>
    </a>
    <a href="https://github.com/OtavioValadao">
      <custom-icons [font]="'35px'" [color]="'black'" [bootstrapIcon]="'bi bi-github'"></custom-icons>
    </a>
  </div>
</div>
