.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex-shrink: 1;
  flex-grow: 1;
  padding: 3px 5px;
  position: relative;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #849042;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #849042;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #deeb98;
}
