@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import "bootstrap-icons/font/bootstrap-icons.css";

body,
html {
  background-color: #eef2f2;
  font-family: "Satisfy", cursive;
  height: 100%;
  padding: 0;
  margin: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&family=Satisfy&display=swap");

.titulo {
  font-family: "Arimo", sans-serif;
}
